* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #222;
}

.slider {
    background-color: #111;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 3px;
    overflow: hidden;
}

.slider .color {
    background-color: black;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.slider form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider form input {
    margin: 10px 0px;
    width: 80%;
}